In [186]:
import numpy as np 
import pandas as pd
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [187]:
df1 = pd.read_csv('/kaggle/input/titanic/train.csv')

In [188]:
df1.shape

(891, 12)

In [189]:
df1.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [190]:
df1.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [191]:
X_train = df1[['PassengerId','Pclass', 'Name', 'Sex', 'Age', 'SibSp','Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']]
Y_train = df1[['Survived']]

In [192]:
X_train.head(15)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S

In [193]:
X_train.count()[list(range(X_train.shape[1]))]

PassengerId    891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

# Filling Nan values on Age Column by thier median.

In [194]:
Age_md = X_train['Age'].median()
X_train['Age'].fillna(Age_md,inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [195]:
X_train['Age'].count()

891

# Mapping alphabetical male&female to numeric values

In [196]:
# 0-> male
#1-> female
X_train['Sex'].replace(['male','female'],[0,1],inplace = True)

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [197]:
X_train.describe()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,2.308642,0.352413,29.361582,0.523008,0.381594,32.204208
std,257.353842,0.836071,0.477990,13.019697,1.102743,0.806057,49.693429
min,1.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,2.000000,0.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,3.000000,1.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200

In [198]:
X_train = X_train[['Pclass','Sex','Age','SibSp','Parch','Fare']]
X_train.head(5)

   Pclass  Sex   Age  SibSp  Parch     Fare
0       3    0  22.0      1      0   7.2500
1       1    1  38.0      1      0  71.2833
2       3    1  26.0      0      0   7.9250
3       1    1  35.0      1      0  53.1000
4       3    0  35.0      0      0   8.0500

In [199]:
X_train.shape
Y_train.shape

(891, 1)

In [200]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [201]:
Y_train  = np.array(Y_train)

Y_train.shape

(891, 1)

In [202]:
X_tr = X_train
Y_tr=Y_train

In [203]:
pred_entropy = DecisionTreeClassifier(criterion = 'entropy',max_depth=3)
pred_entropy.fit(X_tr,Y_tr.ravel())

DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [204]:
yhat = lr.predict(X_test)

In [205]:
from sklearn.metrics import mean_squared_error,accuracy_score
mean_squared_error(Y_test,yhat,)

0.21641791044776118

In [206]:
lr.score(X_tr,Y_tr)

0.7957351290684624

In [207]:
yhat_dt = pred_entropy.predict(X_test)

In [208]:
mean_squared_error(Y_test,yhat_dt)

0.16417910447761194

In [209]:
accuracy_score(Y_test,yhat)*100

78.35820895522389

In [210]:
accuracy_score(Y_test,yhat_dt)*100

83.5820895522388

In [211]:
df2 = pd.read_csv('/kaggle/input/titanic/test.csv')

In [212]:
X_Test = df2[['Pclass','Sex','Age','SibSp','Parch','Fare''']]

In [213]:
X_Test['Sex'].replace(['male','female'],[0,1],inplace=True)
X_Test.describe()

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

           Pclass         Sex         Age       SibSp       Parch        Fare
count  418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean     2.265550    0.363636   30.272590    0.447368    0.392344   35.627188
std      0.841838    0.481622   14.181209    0.896760    0.981429   55.907576
min      1.000000    0.000000    0.170000    0.000000    0.000000    0.000000
25%      1.000000    0.000000   21.000000    0.000000    0.000000    7.895800
50%      3.000000    0.000000   27.000000    0.000000    0.000000   14.454200
75%      3.000000    1.000000   39.000000    1.000000    0.000000   31.500000
max      3.000000    1.000000   76.000000    8.000000    9.000000  512.329200

In [214]:

X_Test['Age'].fillna(X_Test['Age'].median(),inplace =True)
X_Test['Fare'].fillna(X_Test['Fare'].median(),inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [215]:
X_Test.describe()

           Pclass         Sex         Age       SibSp       Parch        Fare
count  418.000000  418.000000  418.000000  418.000000  418.000000  418.000000
mean     2.265550    0.363636   29.599282    0.447368    0.392344   35.576535
std      0.841838    0.481622   12.703770    0.896760    0.981429   55.850103
min      1.000000    0.000000    0.170000    0.000000    0.000000    0.000000
25%      1.000000    0.000000   23.000000    0.000000    0.000000    7.895800
50%      3.000000    0.000000   27.000000    0.000000    0.000000   14.454200
75%      3.000000    1.000000   35.750000    1.000000    0.000000   31.471875
max      3.000000    1.000000   76.000000    8.000000    9.000000  512.329200

In [216]:
YHAT = lr.predict(X_Test)

In [217]:
df_pred = pd.DataFrame(YHAT,columns= ['Survived'])
df_pred

     Survived
0           0
1           0
2           0
3           0
4           1
..        ...
413         0
414         1
415         0
416         0
417         0

[418 rows x 1 columns]

In [218]:
df_id = pd.DataFrame(df2.PassengerId,columns=['PassengerId'])
df_id

     PassengerId
0            892
1            893
2            894
3            895
4            896
..           ...
413         1305
414         1306
415         1307
416         1308
417         1309

[418 rows x 1 columns]

In [219]:
df_submission = pd.concat([df_id,df_pred],axis =1)
df_submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [220]:
df_submission.to_csv('Titanic_Survival.csv',index = False)

In [221]:
YHAT_DT = pred_entropy.predict(X_Test)

In [222]:
df_pred_dt = pd.DataFrame(YHAT_DT,columns = ['Survived'])

In [223]:
dfsub_dt = pd.concat([df_id,df_pred_dt],axis = 1)
dfsub_dt

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [224]:
dfsub_dt.to_csv('Titanic_survival_DT.csv',index=False)

In [225]:
from sklearn.ensemble import RandomForestClassifier

In [226]:
clf= RandomForestClassifier(n_jobs = 2)
clf.fit(X_tr,Y_tr.ravel())
YHAT_rf = clf.predict(X_Test)

In [227]:
df_pred_rf = pd.DataFrame(YHAT_rf,columns = ['Survived'])

In [228]:
dfpred_rf = pd.concat([df_id,df_pred_rf],axis=1)

In [229]:
dfpred_rf.to_csv('Titanic_Survival_RF.csv', index = False)